.articleCardItem{
    background-color: white;
    border: 2px solid rgb(226, 225, 225);
    margin: 15px 0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px 5px rgb(226, 225, 225);
}

.articleCardHeading{
    font-size: 25px;
    font-weight: bold;
}

.articleCardImage{
    text-align: center;
}

.articleCardBody{
    position: relative;
}
.mainBody{
    margin-bottom: 30px;
}

.articleCardViewMore{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    margin-top: 30px;
}
.articleCardViewMore:hover{
    color: blue;
    text-decoration: underline;
}